<div class="container-fluid h-100">
    <div class="row main-app h-100">
        <div class="col-sm left-sidebar">
            <app-left-sidebar></app-left-sidebar>
        </div>
        <div class="col-8">
            <main class="container-xl main-app-inner">
                <mat-progress-bar [ngStyle]="{'visibility': (isLoading) ? 'visible' : 'hidden'}" mode="indeterminate" class=""></mat-progress-bar>
                <div *ngIf="showMessage" class="container message alert alert-danger">
                    <p>{{ message }}</p>
                </div>
                <div class="main-app-inner-content">
                    <router-outlet></router-outlet>
                </div>
            </main>
        </div>
        <div class="col-sm right-sidebar">
            <app-right-sidebar></app-right-sidebar>
        </div>
    </div>
</div>