<h1>Log in</h1>

<form name="login-form" onsubmit="return false;" (keydown.enter)="onLogin()">
    <mat-card>
        <mat-card-content>
            <mat-form-field class="input" appearance="outline">
                <mat-label>Email*</mat-label>
                <input matInput name="email" id="email" type="email" autocomplete="email" [(ngModel)]="login.email" />
            </mat-form-field>
    
            <mat-form-field class="input" appearance="outline">
                <mat-label>Password*</mat-label>
                <input matInput name="password" id="password" [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="login.password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="input">
                <mat-checkbox name="rememberme" [(ngModel)]="login.extendSession">Remember me ?</mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
        </mat-card-actions>
    </mat-card>
</form>