<h3>Log in</h3>

<div [hidden]="!errorOccured" class="container alert alert-danger">
    <p class="" >{{ errorText }}</p>
</div>

<form name="login-form" onsubmit="return false;">
    <div class="container">
        <label for="email">Email</label>
        <div class="input-group mb-3">
            <input name="email" id="email" class="form-control" type="email" autocomplete="email" [(ngModel)]="login.email"/>
        </div>

        <label for="password">Password</label>
        <div class="input-group mb-3">
            <input name="password" id="password" class="form-control" type="password" autocomplete="current-password" [(ngModel)]="login.password"/>
        </div>
        
        <div class="form-check mb-3">
            <input name="rememberme" id="rememberme" class="form-check-input" type="checkbox" [(ngModel)]="login.extendSession"/>
            <label for="rememberme" class="form-check-label">Remember me ?</label>
        </div>

        <div class="input-group">
            <button (click)="onLogin()" class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
</form>