<h3>Sign up</h3>

<div [hidden]="!errorOccured" class="container alert alert-danger">
    <p class="">{{ errorText }}</p>
</div>

<form name="signup-form" onsubmit="return false;">
    <div class="container">
        <label for="email">Email</label>
        <div class="input-group mb-3">
            <input name="email" id="email" class="form-control" type="email" autocomplete="email" [(ngModel)]="signup.email"/>
        </div>

        <label for="username">Username</label>
        <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input name="username" id="username" class="form-control" placeholder="Username (can be changed later)" autocomplete="username" type="text" [(ngModel)]="signup.username"/>
        </div>

        <label for="password">Password</label>
        <div class="input-group mb-3">
            <input name="password" id="password" class="form-control" type="password" autocomplete="new-password" [(ngModel)]="signup.password"/>
        </div>

        <label for="birthday">Birthday</label>
        <div class="input-group mb-3">
            <input name="birthday" type="date" autocomplete="bday" [(ngModel)]="signup.birthDay"/>
        </div>

        <div class="input-group">
            <button (click)="onSignup()" class="btn btn-primary" type="submit">Sign up</button>
        </div>
    </div>
</form>