<h1>Sign up</h1>

<form name="signup-form" onsubmit="return false;" (keydown.enter)="onSignup()">
    <mat-card>
        <mat-card-content>
            <mat-form-field class="input" appearance="outline">
                <mat-label>Email*</mat-label>
                <input matInput name="email" id="email" type="email" autocomplete="email" [(ngModel)]="signup.email" />
            </mat-form-field>
    
            <mat-form-field class="input" appearance="outline">
                <mat-label>Username*</mat-label>
                <input matInput name="username" id="username" placeholder="Username (can be changed later)" autocomplete="username" type="text" [(ngModel)]="signup.username"/>
                <mat-icon matPrefix>alternate_email</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="input" appearance="outline">
                <mat-label>Password*</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="signup.password" name="password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
    
            <mat-form-field class="input" appearance="outline">
                <mat-label>Birthday*</mat-label>
                <input matInput [matDatepicker]="datePicker" [(ngModel)]="signup.birthDay" name="rememberme">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker startView="multi-year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" (click)="onSignup()">Sign up</button>
        </mat-card-actions>
    </mat-card>
</form>