<h1>New publication</h1>

<form name="publication-form" onsubmit="return false;">
    <mat-card>
        <mat-card-content>
            <mat-form-field appearance="standard" class="text-field">
                <mat-label>Publication text</mat-label>
                <textarea name="text" id="text" rows="3" maxlength="280" placeholder="An interesting post..." [(ngModel)]="publication.textContent" matInput #textInput></textarea>
                <mat-hint align="end">{{ textInput.value?.length || 0}}/280</mat-hint>
            </mat-form-field>

            <div class="upload-media">
                <app-upload-media [Container]="getContainer()" (UploadResult)="mediaUploaded($event)"></app-upload-media>
            </div>

            <button mat-raised-button (click)="onSubmit()" class="btn btn-primary" type="submit">Submit</button>
        </mat-card-content>
    </mat-card>
</form>