<div *ngIf="User == null; else content">
    <button mat-raised-button [routerLink]="['/home']">Return home</button>
</div>

<ng-template #content>
    <div class="container-fluid"> <!-- Profile header block -->
        <div class="card mb-3">
            <img class="card-img-top profile-picture" src="{{ UserProfilePictureUrl }}" alt="{{ User.username}}'s profile picture"/>
            <div class="card-body">
                <h1 class="card-title username">{{ User.username }}</h1>
                <p class="card-text" *ngIf="User.biography != null; else noBio">{{ User.biography }}</p>
                <ng-template #noBio>
                    <i>This user does not have a biography.</i>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="container-fluid"> <!-- Feed -->
        <app-feed [publications]="Publications" (LoadMore)="$event" (RefreshPublication)="updatePublication($event)"></app-feed>
    </div>
</ng-template>