<!-- <div *ngIf="User == null; else content">
    <button mat-raised-button [routerLink]="['/home']">Return home</button>
</div> -->

<!-- <ng-template #content> -->
    <div class="container-fluid"> <!-- Profile header block -->
        <div class="card mb-3">
            <div class="profile-picture">
                <mat-icon class="profile-picture-content">create</mat-icon>
            </div>
            <div class="card-body">
                <h1 class="card-title username">{{ User.username }}</h1>
                <input matInput name="input-username" type="text" [(ngModel)]="UserChange.Username"/>
                <div >
                    <mat-icon style="display: inline-flex; vertical-align: text-bottom;" aria-hidden="true">cake</mat-icon>
                    {{ User.birthday.toLocaleDateString() }}
                </div>

                <textarea name="input-biography" [(ngModel)]="UserChange.Biography"></textarea>
            </div>
        </div>
    </div>
    <div class="container-fluid"> <!-- Feed -->
        
    </div>
<!-- </ng-template> -->