<!-- <div *ngIf="User == null; else content">
    <button mat-raised-button [routerLink]="['/home']">Return home</button>
</div> -->

<!-- <ng-template #content> -->
    <mat-card class="user-card"> <!-- Profile header block -->
        <mat-card-content>
            <div class="profile-picture">
                <mat-icon class="profile-picture-content">create</mat-icon>
            </div>
            <div class="card-body">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput name="input-username" type="text" placeholder="{{ User.username }}" [(ngModel)]="UserChange.Username"/>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Birthday</mat-label>
                    <input matInput [matDatepicker]="datePicker" [(ngModel)]="UserChange.BirthDay">
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="biography">
                    <mat-label>Biography</mat-label>
                    <textarea matInput name="input-biography" [(ngModel)]="UserChange.Biography"></textarea>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="submit()">Edit</button>
        </mat-card-content>
    </mat-card>
    <div class="container-fluid"> <!-- Feed -->
        
    </div>
<!-- </ng-template> -->